.contetn {
  padding: 2.8125rem 3rem;
}

.mistake {
  color: var(--white-40);
}

.btn {
  width: 19.125rem;
  height: 2.75rem;
  justify-content: center;
}

.inputWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: auto 194px;
  gap: 16px;
}

.divider {
  width: 100%;
  .MuiDivider-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.error {
  color: var(--red-100);
}