.contetn {
  padding: 2.8152rem 9rem;
}

.mistake {
  color: var(--white-40);
}

.btn {
  width: 18.75rem;
  height: 2.75rem;
  justify-content: center;
}
.divider {
  .MuiDivider-wrapper {
    display: flex;
    justify-content: space-between;
  }
}