.CardInfo {
  padding: 1.5rem 1rem;
  min-width: 16.25rem;
  min-height: 7.75rem;
  border-radius: 8px;
  color: var(--white-100);
}

.icon {
  fill: var(--white-100);
}

.increase{
  color: #73D46D;
}

.decrease{
  color: #FFA1A2;
}

