.Searching {
  min-width: 62rem;
  min-height: 43rem;
  margin: 0 auto;
  border-radius: 8px;
  padding: 24px;
}

.divid {
   color: var(--white-10) ;
  hr {
    height: 31.5rem !important;
    border-color: var(--white-10);
  }

}

.btn {
  font: var(--H3);
  padding: 8px 8px 8px 16px;
  width: 106px;
  height: 44px;
  border-radius: 8px;
  position: relative;
}

.loader {
  width: 30px !important;
  height: 30px !important;
}