.SignIn {
  padding: 6.68rem 9rem;
}

.header {
  color: var(--white-100);
}

.subHeader {
  color: var(--white-40);
}

.inputs {
  margin-bottom: 8px;
}

.Ptag {
  cursor: pointer;
  width: 100%;
  text-align: right;
  color: var(--white-100);
}

.btn {
  width: 100%;
}

.NotMember {
  color: var(--white-40);
}

.signUp {
  cursor: pointer;
}