.wrapper {
  width: 43.1875rem;
  min-height:20.5rempx;
}
.contetn {
  padding: 2.8152rem 9rem;
}

.Divider {
  border-color:var(--white-10);
  width: 0;
  height: 100%;
}

.step {
  height: 6.5rem;
}

.DownloadLinks {
  min-width: 9.25rem;
}
