.TableUi {
  padding: 20px;
  background: transparent;

  .MuiToolbar-root {
    color: var(--white-80);
  }
  
  .MuiTableCell-head {
    color: var(--white-40) !important;
  }

  .MuiTableCell-root  {
    border-color: var(--white-5);
    color: var(--white-80);
    font: var(--12-20-semiBold);
    font-weight: 400;
    padding: 8px 16px;
  }

  .header {
    &:not(:first-child) {
      padding-left: 16px;
      border-left: 1px solid var(--white-5);
    }
  }
}