.contetn {
  min-height: 100vh;
  position: relative;
  // display: grid;
  // grid-template-columns: minmax(5rem, max-content) auto auto;
  // grid-template-areas: 
  // "sidebar headers headers"
  // "sidebar main main" 
  // ;
  // grid-template-rows: auto 1fr ;
}


.header {
  // grid-area: headers;
  padding-left: 9.75rem;
  margin: 0 auto;
  // z-index:0;
  height: var(--Header-height);
}

.main {
  // grid-area: main;
  height: calc(100% - var(--Header-height));
  margin-top: 2rem;
  // padding-left: 4.75rem;
  padding-left: 9.75rem;
}

.sidebar {
  position:absolute;
  background: var(--bg-dark);
  // grid-area: sidebar;
  top: 0;
}