.Header {
  padding: 0.75rem 1.75rem;
  border-bottom: 1px solid var(--white-10);
  display: grid;
  grid-template-columns: 1fr  minmax(22.25rem, 1fr ) ;
  align-items: center;
}
.headerItems {
  // display: grid;
  // justify-items: flex-end;
  // grid-template-columns: 1fr 1fr 1fr ;
}
.icon {
  fill: var(--white-80);
}