.Card {
  display: flex;
  padding: 1.5rem 1rem;
  width: 20rem;
  height: 5.5rem;
  cursor: pointer;
}

.icon {
  fill: var(--white-100);
}
.title {
  color: var(--white-100);
}

.subTitle {
  color: var(--white-40);
}

.Selected {
  padding: 1.375rem 0.875rem;
  border: 2px solid var(--red-100);
  .icon {
    fill: var(--red-100);
  }
}