.contetn {
  // width: 42.375rem;
  // min-height: 32.375rem;
 padding: 6.68rem 9rem;
}

.header {
  color:var(--white-100);
}

.subHeader {
  color:var(--white-100);
}

.btn {
  width: 100%;
}

.mistake {
  color: var(--white-40); 
}

.retToEmail {
  cursor: pointer;
} 