.SidebarItems { 
  width: 100%;
  height: 3rem;
  padding: 0.6875rem;
  border-radius: 8px;
  z-index: 0;
  cursor: pointer;
  &:hover {
    width: 100%;
    padding: 0.5625rem;
    background: var(--white-10);
    border: 2px solid var(--red-100);
    .icon {
      fill: var(--red-100);
    }
  }
}

.name {
  color: var(--white-80);
}
.selected {
  min-width: 100%;
  padding: 0.5625rem;
  background: var(--white-10);
  border: 2px solid var(--red-100);
  .icon {
    fill: var(--red-100);
  }
}


.link {
  min-width: 100%;
}

.icon {
  max-width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white-80);
}

.isHoverd {
  // animation: hover 2s;
}

@keyframes hover {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}